@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Raleway:wght@300;400;700&display=swap');

:root {
  --headland: 'Headland One', serif;
  --raleway: 'Raleway', sans-serif;
}

body {
  font-family: var(--raleway);
  font-size: 18px;
}

.blog-header {
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-logo {
  position: relative;
}

.my-logo span {
  position: absolute;
  font-family: var(--headland);
}

.my-logo__eth{
  top: -1rem;
}

.my-logo__amorim {
  top: -.05rem;
  left: .7rem;
}

.blog-header__nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: .5rem;
}

.blog-header__nav li {
  cursor: pointer;

  position: relative;
  list-style: none;
}

.blog-header__nav li:not(.link-active)::after {
  content: '';
  
  width: 0;
  height: 2px;
  transition: width .5s;
}

.blog-header__nav li:hover::after, .link-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  
  width: 50%;
  height: 2px;
  background-color: #000;
}

.blog-header__nav li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  letter-spacing: -.05rem;
}

.blog-header__user-action button, #upvotes-section button, #add-comment-form button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;

  background-color: #74747417;
  font-family: var(--raleway);
  font-size: 1rem;
  letter-spacing: -.05rem;
}

.blog-header__user-action button {
  display: flex;
  align-items: center;
}

.blog-header__user-action button:hover, #upvotes-section button:hover, #add-comment-form button:hover {
  background-color: #7474744b;
}

/* button {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
} */

.home-title, 
.articles-list-title, 
.articles-list__item-title,
.article-title,
.comments-title {
  font-family: var(--headland);
}

h3, h4 {
  margin-bottom: 0;
}

/* nav {
  border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
} */

/* nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 24px 32px;
}

nav a:hover {
  background: black;
  color: white;
} */

#page-body {
  max-width: 700px;
  margin: auto;
}

.articles-list__item {
  padding: 10px 0 10px;
  text-decoration: none;
  color: black;

  border-bottom: 1px solid black;
}

#add-comment-form {
  border-bottom: 1px solid black;
  padding: 16px;
}

#add-comment-form h3 {
  margin-bottom: 16px;
}

input, textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

.error {
  padding: 8px;
  border-radius: 4px;
  background-color: pink;
}

#add-comment-form button {
  width: 320px;
}

#upvotes-section button {
  margin-right: 10px;
}

.comments-title {
  margin-bottom: 10px;
}

.comment {
  border-bottom: 1px solid black;
  padding: 10px;
}

.comment h4 {
  margin: 0;
  font-weight: 200;
  font-size: 1rem;
}

.comment h4 strong {
  font-weight: 600;
}

.comment p {
  margin: 5px 0;
  font-size: 1.2rem;
}

/* .nav-right {
  position: absolute;
  top: 8px;
  right: 8px;
} */